---
import Layout from "../layouts/Layout.astro";
import { getBlogDetail, getBlogs } from "../lib/microcms";

export async function getStaticPaths() {
  const response = await getBlogs({
    fields: ["id", "date", "image", "title", "content"],
  });
  return response.contents.map((blog: any) => ({
    params: {
      blogId: blog.id,
    },
  }));
}

const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
---

<Layout title="Blog Detail">

  <a class="backanker" href="/blogpage">←   一覧</a>
  <img class="topimage" src={blog.image.url} alt="" />
  <main>

      <!-- <a class="backanker" href="/blogpage">←</a> -->
      <h1>{blog.title}</h1>
      <p class="blogdate">公開日時:{blog.date}</p>
      <div style="line-height: 3;"set:html={blog.content} />
      <!-- <p>{blog.content}</p> -->

  </main>

  <style>
    body{
      background-color: #f2f2f2;
    }
    .backanker {
      margin-top: 20px;
      font-size: 20px;
      margin-left: 2%;
      position: fixed;
    }
    .topimage {
      object-fit: cover;
      margin-top: 80px;
      max-width: 90%;
      margin-left: 5%;
      border-top-left-radius:1.5%;
      border-top-right-radius: 1.5%;
    }
    main {
      /* margin-top: 30px; */
      margin: 0 auto 50px auto;
      padding: 1em 3em 1em 3em;
      max-width: 90%;
      /* border-radius: 1%; */
      border-bottom-left-radius: 1.5%;
      border-bottom-right-radius: 1.5%;
      background-color: white;
    }

    h1 {
      font-size: 40px;
      border-left: 5px solid #f2911b;
      padding-left: 10px;
      margin-top: 20px;
    }
    .white-container {
      width: 100%;
      margin: 0 auto;
    }

    .blogdate {
      font-size: 16px;
      color: gray;
      text-align: right;
      margin: 20px 0 20px 0;
    }
  </style>
</Layout>
