---
import "@/scss/styles.scss";
import { Image } from 'astro:assets';
import image from './images/image.png';

const { width = '500px', height = 'auto', marginbottom = '0px' } = Astro.props;

import { getBlogs ,getBlogDetail} from "../lib/microcms";
const response = await getBlogs({ fields: ["id", "title","img","content","date"] });
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
---

<!-- <div class="blog" style={`width: ${width}; height: ${height}; margin-bottom: ${marginbottom};`}> -->
    <ul style="display: flex;flex-wrap: wrap; justify-content: space-between;">
        {
          response.contents.map((blog: any) => (

                <div class="blog" style={`width: ${width}; height: ${height}; margin-bottom: ${marginbottom};`}>
                    <a href={blog.id}></a>
                    <div>{blog.image}</div>
                    <img src={blog?.img?.url } alt="" />
                    <p class="blog__title">{blog.title}</p>
                    <p class="blog__date">{blog.date}</p>
                </div>

          ))
        }
      </ul>
<!-- <div class="blog" style={`width: ${width}; height: ${height}; margin-bottom: ${marginbottom};`}>   -->
    <!-- <Image src={image} alt="CMSから読み込んだ画像" /> 
    <a href={blog.id}></a>
    <p class="blog__title">{blog.title}</p>
    <p class="blog__date">{blog.date}</p> -->
</div>

