---
import { Image } from "astro:assets";
import JS1 from './images/JS-1.jpg';
import JS2 from './images/JS-2.jpg';
import JS3 from './images/JS-3.png';
import JS4 from './images/JS-4.jpg';
import JS5 from './images/JS-5.jpg';
import JS6 from './images/JS-6.jpg';
---
<div class="Carousel">
  <Image src={JS1} alt="JS1"/> 
  <Image src={JS2} alt="JS2"/>
  <Image src={JS3} alt="JS3"/>
  <Image src={JS4} alt="JS4"/>
  <Image src={JS5} alt="JS5"/>
  <Image src={JS6} alt="JS6"/>
  <Image src={JS1} alt="JS1"/>
  <Image src={JS2} alt="JS2"/>
  <Image src={JS3} alt="JS3"/>
</div>
