---
import "@/scss/styles.scss";
import { Image } from 'astro:assets';
import picture from './images/exsample.png';

import { getSchedule ,getScheduleDetail} from "../lib/microcms";
const response = await getSchedule({ fields: ["id", "title","image","text","year","day","name","time"] });
const { scheduleId } = Astro.params;
const schedule = await getScheduleDetail(scheduleId as string);
console.log(response.contents);
---
<ul>
    {
        response.contents.map((schedule: any) => (
            <div class="EventData">
                <p class="EventData__title-responsive">{schedule.name}</p>
                <div class="EventData__left-circle"></div>
                <div class="EventData__right-circle"></div>

                <img src={schedule.image.url } alt="イベントの写真" class="EventData__picture"style="width: 180px; height: 250px; object-fit: cover;"/>
                <div>
                <div class="EventData__data">
                    <p class="EventData__title">{schedule.name}</p>
                    <div class="EventData__date">
                        <img src="" alt="">
                        <p class="EventData__year">{schedule.year}</p>
                        <p class="EventData__date2">{schedule.day}</p>
                        <div class="EventData__lump">
                            <p class="EventData__day-of-the-week">{schedule.week}</p>
                            <p class="EventData__time">{schedule.time}</p>
                        </div>
                    </div>
                </div>

                <div class="description"style="margin-left: 10%;">
                    <p>{schedule.text}</p> 
                </div>
                </div>
            </div>
        ))
    }
</ul>


